/* -------------------------------------------------
  min-width: 768px
---------------------------------------------------*/
@media only screen and (min-width: 768px) {
.container {
	--width-container: 720px;
	max-width: 720px;
}	
.blog_thumbs .blog_content {
	padding: 0 0 0 20px;
	overflow: hidden;
}
.nav-link.search_trigger,
.close-search,
.mobile_block {
	display: none;
}
}

/* -------------------------------------------------
  min-width: 992px
---------------------------------------------------*/
@media only screen and (min-width: 992px) {
.container {
	--width-container: 960px;
	max-width: 960px;
}
	
.bottom-header .navbar-brand {
	display:none;
}	
.nav-fixed .bottom-header .navbar-brand {
	display:block;
}	
.navbar .navbar-nav li > .dropdown-menu {
	display: block;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	margin-top: 20px;
}
.navbar .navbar-nav li.dropdown.show > .dropdown-menu,
 .navbar .navbar-nav li.dropdown.show li:hover > .dropdown-menu {
	display: block;
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}
.navbar .navbar-nav li:hover > .dropdown-menu.cart_box {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.navbar .navbar-nav li:hover > .dropdown-menu li:hover > .dropdown-menu,
.navbar .navbar-nav li:hover > .dropdown-menu .mega-menu ul li:hover > .dropdown-menu {
	margin-top: -10px;
}
.navbar .navbar-nav li:hover > .dropdown-menu .mega-menu ul li .dropdown-menu {
	margin-top: 10px;
}
.navbar .navbar-nav .dropdown-menu .dropdown-menu {
	left: 100%;
	top: 0;
	margin-left: 0px;
}
.navbar .navbar-nav .dropdown-menu.dropdown-reverse .dropdown-menu {
	left: auto;
	right: 100%;
	margin-left: 0;
	margin-right: 5px;
}
.navbar .navbar-nav .dropdown-menu.dropdown-reverse li:hover > .dropdown-item::after {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.dropdown-menu.dropdown-reverse {
	left: auto;
	right: 0;
}
.dd_dark_skin .navbar .navbar-nav .dropdown-item,
.dd_dark_skin .navbar .navbar-nav .dropdown-header,
.sticky_dd_dark_skin.header_wrap.nav-fixed .navbar-nav .dropdown-menu li a,
.sticky_dd_dark_skin.header_wrap.nav-fixed .navbar-nav .dropdown-header,
.dd_dark_skin .cart_list a,.dd_dark_skin .cart_quantity, .dd_dark_skin .cart_total,
.sticky_dd_dark_skin.header_wrap.nav-fixed .cart_list a,.sticky_dd_dark_skin.header_wrap.nav-fixed .cart_quantity, .sticky_dd_dark_skin.header_wrap.nav-fixed .cart_total {
	color: #333;
}
.dd_dark_skin .item_remove,
.sticky_dd_dark_skin.header_wrap.nav-fixed .item_remove {
	color: #333 !important;
}
.dd_dark_skin .navbar-nav .dropdown-menu,
.dd_dark_skin .navbar-nav .dropdown-menu .dropdown-menu,
.dd_dark_skin .navbar-nav .dropdown-menu .mega-menu .dropdown-menu,
.sticky_dd_dark_skin.header_wrap.nav-fixed .navbar-nav .dropdown-menu,
.header_wrap:not([class*="bg_"]):not([class*="bg-"]).sticky_dd_dark_skin.nav-fixed .navbar-nav .dropdown-menu,
.header_wrap:not([class*="bg_"]):not([class*="bg-"]).sticky_dd_dark_skin.nav-fixed .navbar-nav .dropdown-menu .dropdown-menu,
.header_wrap:not([class*="bg_"]):not([class*="bg-"]).sticky_dd_dark_skin.nav-fixed .navbar-nav .dropdown-menu .mega-menu .dropdown-menu {
	background-color: #fff;
	box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
}
.dd_dark_skin .mega-menu-col,
.sticky_dd_dark_skin.nav-fixed .mega-menu-col,
.sticky_dd_dark_skin.nav-fixed .navbar-nav .mega-menu-col,
.dd_dark_skin .cart_list li,
.sticky_dd_dark_skin.nav-fixed .cart_list li {
	border-color: #ddd;
}
.dd_light_skin .navbar .navbar-nav li > .dropdown-item,
.dd_light_skin .navbar .navbar-nav .dropdown-header,
.sticky_dd_light_skin.header_wrap.nav-fixed .navbar-nav .dropdown-menu li a,
.sticky_dd_light_skin.header_wrap.nav-fixed .navbar-nav .dropdown-header,
.dd_light_skin .cart_list a,.dd_light_skin .cart_quantity, .dd_light_skin .cart_total,
.sticky_dd_light_skin.header_wrap.nav-fixed .cart_list a,.sticky_dd_light_skin.header_wrap.nav-fixed .cart_quantity, .sticky_dd_light_skin,.sticky_dd_light_skin.header_wrap.nav-fixed  .cart_total  {
	color: #d1d3d4;
}
.dd_light_skin .item_remove,
.sticky_dd_light_skin.header_wrap.nav-fixed .item_remove {
	color: #fff !important;
}
.dd_light_skin .cart_list li,
.sticky_dd_light_skin.nav-fixed .cart_list li {
	border-color: #3f3f3f;
}
.header_wrap.dd_light_skin .navbar-nav .dropdown-menu,
.sticky_dd_light_skin.nav-fixed .navbar-nav .dropdown-menu {
	background-color: #252A2C;
	border-color: #252A2C;
}
.header_wrap.dd_light_skin .navbar-nav .dropdown-menu .mega-menu .dropdown-menu, 
.header_wrap.dd_light_skin .navbar-nav .dropdown-menu .dropdown-menu,
.sticky_dd_light_skin.nav-fixed .navbar-nav .dropdown-menu .mega-menu .dropdown-menu {
	background-color: #303537;
}
.dd_light_skin .mega-menu-col,
.sticky_dd_light_skin.nav-fixed .mega-menu-col,
.sticky_dd_light_skin.nav-fixed .navbar-nav .mega-menu-col {
	border-right: 0px solid #3f3f3f;
}
.header_banner_title,
.header_banner_text,
.header_banner_content a,
.header_banner_content .shop_subtitle,
.header_banner_content .shop_title {
	opacity: 0;
	-moz-transform: translateY(25%);
	-webkit-transform: translateY(25%);
	transform: translateY(25%);
	-webkit-transition: ease transform 200ms, ease opacity 200ms;
	transition: ease transform 200ms, ease opacity 200ms;
}
.header_banner_title,
.header_banner_content .shop_subtitle {
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
.header_banner_text,
.header_banner_content .shop_title {
	-webkit-transition-delay: 500ms;
	transition-delay: 500ms;
}
.header_banner_content a {
	-webkit-transition-delay: 600ms;
	transition-delay: 600ms;
}
.header_banner_content a:hover {
	transition: all 0.5s ease-in-out;
}
.header_banner_content .banner_img img {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	-webkit-transition-delay: 500ms;
	transition-delay: 500ms;
	transition: all 0.8s ease-in-out;
	position: relative;
	z-index: -1;
}
.navbar .navbar-nav li:hover > .dropdown-menu .header_banner_title, .navbar .navbar-nav li:hover > .dropdown-menu .header_banner_text, .navbar .navbar-nav li.show > .dropdown-menu .header_banner_content a,.navbar .navbar-nav li.show > .dropdown-menu .header_banner_content .shop_title,.navbar .navbar-nav li.show > .dropdown-menu .header_banner_content .shop_subtitle {
	opacity: 1;
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}
.navbar .navbar-nav li.show > .dropdown-menu .header_banner_content .banner_img img {
	-webkit-filter: blur(0);
	filter: blur(0);
}
}

/* -------------------------------------------------
  min-width: 1200px
---------------------------------------------------*/
@media only screen and (min-width: 1200px) {
	.container {
		--width-container: 1190px;
		max-width: 1190px;
	}
}

/* -------------------------------------------------
  max-width: 1199px
---------------------------------------------------*/
@media only screen and (max-width: 1199px) {

p {
	line-height: 22px;
}
.heading_s1 h2, .flex_title h2, .tco__partners-wrapper h2 {
  font-size: 36px;
}
.heading_s1 h3 {
	line-height:34px;
}

.flex_title {
	margin-bottom: 25px;
}
.news_tag_wrap {
	margin-bottom: 15px;
}
	
.h1, h1 {
    font-size: 34px;
}
.h2, h2 {
    font-size: 30px;
}
.h3, h3 {
    font-size: 26px;
}
.h4, h4 {
    font-size: 22px;
}
.h5, h5 {
    font-size: 18px;
}
.accordion.accordion_style1 .card-header a {
	font-size:22px;
}
.section {
	padding: 80px 0;
}
.section.small_pt, .top_footer.small_pt {
	padding-top: 40px;
}
.section.small_pb, .top_footer.small_pb {
	padding-bottom: 40px;
}
.section.pb_70, .pb_70 {
	padding-bottom: 50px;
}
.section.pb_85, .pb_85 {
	padding-bottom: 65px;
}
.section.pb_20, .pb_20 {
	padding-bottom: 10px;
}
.large_divider {
	height: 80px;
}
.medium_divider {
	height: 40px;
}
.small_divider {
	height: 20px;
}
.shop_title {
	font-size: 32px;
}
.banner_half_content {
	padding: 100px 0 80px;
}
.banner_section:not(.full_screen), 
.banner_section:not(.full_screen) .carousel-item, 
.banner_section:not(.full_screen) .banner_content_wrap, 
.banner_section:not(.full_screen) .banner_content_wrap .carousel-item {
	height: 700px;
}
.banner_section.slide_medium, 
.banner_section.slide_medium .carousel-item,
.banner_section.slide_medium .banner_content_wrap, 
.banner_section.slide_medium .banner_content_wrap .carousel-item {
	height: 550px;
}
.banner_content h2 {
	font-size: 28px;
}
.banner_content1 h2 {
	font-size: 64px;
}
.header_wrap.transparent_header + .breadcrumb_section {
	padding-top: 150px;
}
.header_wrap.transparent_header.header_with_topbar + .breadcrumb_section {
	padding-top: 200px;
}
.breadcrumb_section {
	padding: 100px 0;
}
.footer_top {
	padding: 80px 0 50px;
}
.blog_meta li {
	margin-right: 10px;
}
.blog_meta a {
	font-size: 14px;
}
.blog_title {
	line-height: 26px;
}
.newsletter_small {
	padding: 60px 0;
}
.about_wrap {
	padding-left: 20px;
}
.pr_content {
	padding: 0 30px;
}
.widget_contact_form {
	margin-top: -160px;
}
.icon_box_style4 {
	padding: 30px;
}
.contact_style1 .contact_text p, 
.contact_style1 .contact_text a {
	font-size: 14px;
}
.error_txt {
	font-size: 56px;
	margin-bottom: 15px;
}
.compare_box table {
	width: 1050px;
}
.shop_bn_content {
	padding: 30px 25px;
}
.shop_bn_content .btn {
	padding: 8px 25px;
}
.tab-content.shop_info_tab {
	margin-top: 30px;
}
.single_post .blog_title {
	font-size: 26px;
}
.heading_s2 .sub_heading {
	font-size: 90px;
	margin-bottom: -25px;
	line-height: 90px;
}

.tco__partners-wrapper,
.reverse .tco__partners-wrapper {
	padding: 30px;
	min-width: 50%;
	max-width: 50%;
}
.double_banner_section .owl-dots,
.nav_style8.owl-theme .owl-nav {
	left: 30px;
}

.tco__yearcircle.fixed {
	top:50%;
}
.timeline__section .timeline_story {
	padding: 20px 0px;
}
.timeline__section p {
	font-size: 16px;
}
.timeline__nav ul li {
	line-height: 1.1;
}

.statistic_box3 {
	display: flex;
	flex-direction: row;
}
.statistic_box3 img:last-child {
	margin-left: 30px;
}

}


/* -------------------------------------------------
  max-width: 991px
---------------------------------------------------*/
@media only screen and (max-width: 991px) {
.nav-fixed .navbar .navbar-nav {
	margin:0;
}
.tco_new_box {
	margin-bottom:30px;
}	
	
.bottom-header .navbar-brand {
	display: none;
}
.nav-fixed .bottom-header .navbar-brand {
	display: inline-block;
}
.md-height-300 {
	height: 300px !important;
}
.heading_s1, .heading_s4 {
	margin-bottom: 20px;
}
.navbar {
    position: relative;
}
.navbar .navbar-nav {
	display:block;
}
.bottom-header .navbar .navbar-toggler {
	display: none;
}
.nav-fixed .bottom-header .navbar .navbar-toggler {
	display: block;
}
.header_wrap .navbar {
	margin-left: 15px;
}
.bottom-header .navbar {
  border-top: 0px;
}

.header_wrap .navbar .navbar-nav.attr-nav {
	display: block;
	float: left;
	margin-top: 6px;
}
.header_wrap.nav-fixed .navbar .navbar-nav.attr-nav {
	display: none;
}
.search_wraps {margin-left:0;}
.navbar-toggler {
    margin: 3px 0 0 3px;
}
.header_wrap .navbar-collapse {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 999;
	top:100%;
}
.solutions [class^="col-"]:nth-child(3n+2) .card_box{
	margin-top: 0px;
}
.solutions [class^="col-"]:nth-child(3n+3) .card_box {
	margin-top: 0px;
}
.solutions [class^="col-"] .card_box {
	margin-bottom:30px;
}

.big_spacing {
	margin-right: -20px;
	margin-left: -20px;
}
.big_spacing [class^="col-"] {
    padding-right: 20px;
    padding-left: 20px;
}

.about_box_wrap {
    height: 500px;
}
.navbar .navbar-collapse .navbar-nav {
	max-height: 80vh;
	overflow-y: auto;
}
.navbar .navbar-nav > li > .nav-link,
.nav-fixed .navbar .navbar-nav > li > .nav-link {
	padding: 10px 10px;
}
.navbar .navbar-nav.attr-nav li {
	float: left;
}
.navbar .navbar-nav.attr-nav li .nav-link {
	padding: 20px 10px;
}
.navbar .navbar-nav.attr-nav li .nav-link.search_trigger,
.navbar .navbar-nav.attr-nav li .nav-link.cart_trigger {
	padding: 16px 8px;
}
.navbar-nav .dropdown-menu .container {
	width: 100%;
	max-width: 100%;
}
.header_wrap .navbar .navbar-collapse .navbar-nav:not([class*="bg_"]):not([class*="bg-"]) {
	background-color: #fff;
}
.header_wrap.light_skin.transparent_header .navbar .navbar-collapse .navbar-nav:not([class*="bg_"]):not([class*="bg-"]),
.header_wrap.light_skin .navbar .navbar-collapse .navbar-nav:not([class*="bg_"]):not([class*="bg-"]) {
	background-color: #252A2C;
}
.sticky_dark_skin.nav-fixed.header_wrap .navbar .navbar-collapse .navbar-nav:not([class*="bg_"]):not([class*="bg-"]),
.dark_skin.header_wrap .navbar .navbar-collapse .navbar-nav:not([class*="bg_"]):not([class*="bg-"]) {
	background-color: #fff;
	box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
	border: 1px solid #e6e6e6;
}
.navbar-nav .navbar-collapse .dropdown-menu,
.header_wrap:not([class*="bg_"]):not([class*="bg-"]).sticky_light_skin.nav-fixed .navbar-nav .navbar-collapse .dropdown-menu,
.sticky_dark_skin.nav-fixed .navbar-nav .navbar-collapse .dropdown-menu,
.light_skin .navbar-nav .dropdown-menu .mega-menu .dropdown-menu,
.dark_skin:not([class*="bg_"]):not([class*="bg-"]) .navbar-nav .navbar-collapse .dropdown-menu,
.header_wrap:not([class*="bg_"]):not([class*="bg-"]).sticky_light_skin.nav-fixed .navbar-nav .dropdown-menu .mega-menu .dropdown-menu, .header_wrap:not([class*="bg_"]):not([class*="bg-"]).sticky_light_skin.nav-fixed .navbar-nav .navbar-collapse .dropdown-menu .dropdown-menu {
	background-color: transparent;
	box-shadow: none;
	border: 0;
}
.dark_skin.header_wrap:not([class*="bg_"]):not([class*="bg-"]).sticky_light_skin.nav-fixed .navbar-collapse .navbar-nav {
	background-color: #252A2C;
	border-color: #252A2C;
}
.hover_menu_style1 .navbar-collapse .navbar-nav > li > a,
.hover_menu_style1.nav-fixed .navbar .navbar-collapse .navbar-nav > li > .nav-link {
	padding: 10px;
	margin: 0;
}
.hover_menu_style1 .navbar-collapse .navbar-nav > li > a::before {
	content: normal;
}
.header_banner,
.header_banner_wrap {
	display: none;
}
.dropdown:not(.dropdown-mega-menu) .dropdown-menu > ul, .mega-menu-col > ul, .dropdown .dropdown-menu .dropdown-menu > ul {
	padding: 0;
}
.dropdown-menu .dropdown-toggler::after {
	right: 0px;
}
.search_wrap {
	max-width: 100%;
	margin: 0 30px;
}
.dropdown-toggle::after {
	float: right;
}
.navbar-nav > li > .dropdown-menu, 
.navbar .navbar-nav li.dropdown-mega-menu .dropdown-menu {
	padding-left: 10px;
	padding-right: 10px;
}
.mega-menu-col {
	padding: 0px;
	border-right: 0 !important;
}
.dropdown-toggler::after {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.navbar .attr-nav li.nav-btn {
	margin-top: 8px;
}
.navbar .navbar-nav.attr-nav li .nav-link.search_trigger [class*="linearicons-"], .navbar .navbar-nav.attr-nav li .nav-link.cart_trigger [class*="linearicons-"] {
	margin-top: 5px;
	display: inline-block;
}
.navbar .navbar-nav .dropdown-item {
	padding: 8px 10px 8px 10px;
}
.navbar .navbar-nav .dropdown-header {
	padding: 10px;
}
.sidetoggle_icon::after {
	bottom: -8px;
}
.sidetoggle_icon::before {
	top: -6px;
}
.banner_section:not(.full_screen), 
.banner_section:not(.full_screen) .carousel-item, 
.banner_section:not(.full_screen) .banner_content_wrap, 
.banner_section:not(.full_screen) .banner_content_wrap .carousel-item {
	height: 600px;
}
.banner_section.full_screen.banner_half_content,
.banner_section:not(.full_screen).banner_half_content,
.banner_section:not(.full_screen).banner_half_content .banner_content_wrap {
	height: auto;
}
.banner_section.slide_medium, 
.banner_section.slide_medium .carousel-item, 
.banner_section.slide_medium .banner_content_wrap, 
.banner_section.slide_medium .banner_content_wrap .carousel-item {
	height: 500px;
}
.banner_section .owl-item .background_bg:after {
	content: "";
	background: rgba(255,255,255,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
}

.indicators_style5 {
     right: 10%;
}
.banner_content h2 {
	font-size: 26px;
}
.banner_content1 h2 {
	font-size: 54px;
}
.banner_center_content {
	margin-top: 0;
}
.full_screen, .full_screen .carousel-item {
	min-height: 35rem;
}
div.banner_large_pad {
	padding: 200px 0 100px;
}
.banner_content_border {
	padding: 30px;
}
.header_wrap.transparent_header + .breadcrumb_section {
	padding-top: 100px;
}
.breadcrumb_section {
	padding: 80px 0;
}
.highlight_text {
	font-size: 18px;
}
.grid_col4 > li {
	width: 33.33%;
}
.banner_shape {
	width: 100%;
}
.about_wrap {
	padding-left: 0;
}
.price_tage h2 {
	font-size: 34px;
}
.widget_contact_form {
	margin-top: 0;
}
.background_shape,
.background_shape::before {
	width: 150px;
}
.page-title + span {
	font-size: 15px;
}
.padding_eight_all {
	padding: 6%;
}
.cs_title {
	line-height: 40px;
	margin-bottom: 15px;
}
.cs_logo {
	margin-bottom: 20px;
}
.cs_content .countdown_time, .cs_content .newsletter_form {
	margin-bottom: 20px;
}
.contact_info_style2 li i {
	margin-right: 6px;
	font-size: 20px;
}
.team_email,
.contact_info_style2 i + * {
	font-size: 16px;
}
.social_style3 li a {
	font-size: 18px;
	height: 40px;
	width: 40px;
	line-height: 40px;
}
.order_review {
	padding: 20px;
}
.product-add-to-cart {
	white-space: nowrap;
}
.product-add-to-cart .btn {
	padding: 10px 24px;
}
.load_more_wrap {
	margin-top: 0px;
}
.heading_s2 .sub_heading {
	font-size: 70px;
	line-height: 70px;
}
.portfolio_style1 .link_container a {
	font-size: 16px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.portfolio_style1 .portfolio_desc h5 {
	margin: 0;
}
.portfolio_style1 .portfolio_desc {
	margin-top: 10px;
}
.portfolio_style1 .portfolio_content {
	padding: 10px;
}
.portfolio_style1 .portfolio_content::before {
	margin: 15px 5px;
}
.portfolio_style1 .portfolio_content::after {
	margin: 5px 15px;
}
.counter_style1.box_counter {
	margin: 15px 0;
}
.header_btn {
	float: right;
	margin: 9px 0;
}
.box_counter.counter_style2 {
	margin-top: 30px;
}
[class*="col-"]:nth-child(-n+2) .box_counter.counter_style2 {
	margin-top: 0px;
}
.instagram_icon i {
	font-size: 40px;
}
.contact_form {
	max-width: 400px;
}


.bg_left::after, 
.bg_right::after {
	width: 200vw;
	right: 0;
	left: -100%;
}
.bg_right .tco_icon_box .tco_icon_img {
	margin-left: 0;
}



.timeline__nav ul li {
	font-size: 15.4vh;
	line-height: 1.4;
}
.timeline__nav ul li.small {
	font-size: 9.4vh;
	line-height: 21.58vh;
}
.timeline__section h3 {
	font-size: 20px;
}
.timeline__section p {
	margin-bottom:0;
}

.contact_list2 {
	margin: 15px 0;
	justify-content: center;
}


.statistic p {
	font-size: 20px;
}
.statistic_box3 img {
	width: 50%;
}
.statistic_box3 img:last-child {
	margin-left: 15px;
}

.map_overlay .blue {
	top: 34%;
	left: 19%;
}
.map_overlay .yellow {
	top: 21.5%;
	left: 40%;
}
.map_overlay .golub {
	top: 22%;
	left: 63%;
}
.map_overlay .grey {
	top: 47.5%;
	left: 73.5%;
}

}


/* -------------------------------------------------
  (min-width: 767px) and (max-width: 991px)
---------------------------------------------------*/
@media only screen and (min-width: 767px) and (max-width: 991px) {
.first_img {
	max-width: 600px;
}
	
}

/* -------------------------------------------------
  (min-width: 767px) and (max-width: 991px)
---------------------------------------------------*/
@media only screen and (min-width: 575px) and (max-width: 767px) {
.icon_box_style7 {
	padding: 20px;
}
.icon_box_style7 .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 5px;
}
.icon_box_style7 .icon i {
	line-height: 80px;
	font-size: 38px;
}
}


/* -------------------------------------------------
  max-width: 767px
---------------------------------------------------*/
@media only screen and (max-width: 767px) {
p{
	margin-bottom:20px;
}	
.heading_s1 h1, .heading_s1 h2, .heading_s1 h3, .heading_s1 h4, .heading_s1 h5, .heading_s1 h6 {
	line-height: 38px;
}
.h1, h1, .tco__partners-wrapper h1 {
    font-size: 32px;
}
.h2, h2 {
    font-size: 28px;
}
.h3, h3, .tco__partners-wrapper h3, .tco_icon_box .tco_icon_text h3 {
    font-size: 22px;
}
.h4, h4, .tco_icon_box .tco_icon_text h4, .card_box .card_title h4 {
    font-size: 20px;
}
.heading_s1 h1, .heading_s1 h2.h1 {
    font-size: 36px;
}
.heading_s1 h2, .flex_title h2, .tco__partners-wrapper h2, .slide_section li.nav-item a {
	font-size: 28px;
}

.mt_30 {
	margin-top:15px;
}
.mb_30 {
	margin-bottom:15px;
}

.accordion.accordion_style1 .card-header a {
	font-size:18px;
}
.accordion_style1 .card-header a::after {
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.large_text p, .large_text a, .slide_section .slide_content ul li, .btn-link, .slide_section .slide_content p,.right_popup .side_popup_content .side_popup_description p, .debt_rating_list ul li, .large_text li, 
.file_group .pdf-link, .tco_icon_box .tco_icon_text p, .tco__partners-wrapper p, .widget_links li a, footer p, .large_text .custom-control, .large_text .custom-control label {
	font-size: 16px;
}

.header_wrap .navbar {
	margin-left: 0;
}
.ddcommon .ddChild {
	left: auto;
	padding: 0px;
	width: auto;
	right: auto;
}
.navbar-toggler {
    float: right;
    margin: 0px 0 0 3px;
}
.header_wrap .navbar .navbar-nav.attr-nav {
	display: block;
	float: left;
	margin-top: 2px;
}
.navbar {
    position: relative;
}
.top-header a {
	color:#30454E;
}
.top-header .header_list > li i {
	font-size: 24px;
}

.search_wraps {
	display: none;
}
.search_wraps.open {
	display: block;
	z-index:999;
	position: fixed;
	left: 20px;
	right: 20px;
}
.lng_dropdown.header_list {
	display: none;
}
.section,.newsletter_small {
	padding: 50px 0;
}
.section.small_pt, .top_footer.small_pt {
	padding-top: 25px;
}
.section.small_pb, .top_footer.small_pb {
	padding-bottom: 25px;
}
.section.pb_70, .pb_70 {
	padding-bottom: 20px;
}
.section.pb_20, .pb_20 {
	padding-bottom: 0px;
}
.large_divider {
	height: 50px;
}
.medium_divider {
	height: 25px;
}
.small_divider {
	height: 10px;
}
.section.pb_85, .pb_85 {
	padding-bottom: 35px;
}
.sm-height-300 {
	height: 300px !important;
}
.banner_content h2 {
	font-size: 28px;
}
.full_screen, .full_screen .carousel-item {
	min-height: 100%;
}
.banner_content_border {
	padding: 30px;
}
.breadcrumb_section.page-title-mini {
	padding: 50px 0;
}
.slick-list {
	padding-left: 20% !important;
	padding-right: 20% !important;
}
.success_stories .nav_style3.owl-theme .owl-nav {
	margin-top: 20px;
}
.about_box {
	bottom: 0;
}
.about_box p {
	height: 160px;
	overflow: hidden;
}

.flex_title {
	margin-bottom: 20px;
}
.industries_box {
	margin-bottom: 30px;
	margin-left: 20px;
}
.industries_box .industries_img .label {
	left: -15px;
}
.hover_box {
    padding: 15px;
}
.industries_box .hover_box * {
	font-weight: 500;
	line-height: 1.4;
	font-size: 14px;
}
.footer_top {
	padding: 50px 0 20px;
}
.box_counter {
	margin: 15px 0;
}
.box_counter i {
	font-size: 40px;
}
.counter_style1.box_counter {
	padding-left: 60px;
}
.grid_col4 > li,
.grid_col3 > li,
.grid_col3 > li.big_size {
	width: 50%;
}
.banner_half_content {
	padding: 100px 0 50px;
}
.banner_section:not(.full_screen), 
.banner_section:not(.full_screen) .carousel-item, 
.banner_section:not(.full_screen) .banner_content_wrap, 
.banner_section:not(.full_screen) .banner_content_wrap .carousel-item {
	height: 500px;
}
.banner_section.slide_medium, 
.banner_section.slide_medium .carousel-item, 
.banner_section.slide_medium .banner_content_wrap, 
.banner_section.slide_medium .banner_content_wrap .carousel-item {
	height: 500px;
}
.banner_content1 h2 {
	font-size: 44px;
}
.carousel-indicators.vertical_center_right {
	right: 25px;
}
.indicators_style5 {
    display:none;
}
.icon_box_style2,
.testimonial_style2 .testimonial_box {
	padding: 20px;
}
.newsletter_box {
	padding: 40px;
}
.waveWrapper {
	height: 30px;
}
.waveTop {
	background-size: 50% 30px;
}
.banner_half_content .background_shape {
	left: 55%;
	-moz-transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
	transform: skewX(20deg);
}
.about_img_box {
	position: static;
}
.error_txt {
	font-size: 46px;
}
.team_single_content {
	padding-left: 0;
	border-left: 0;
	border-top: 1px solid #eee;
	margin-top: 15px;
	padding-top: 15px;
}
.product_header {
	display: block;
}
.product_heaader_right {
	margin-top: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}
.shop_container.list .product_img {
	float: none;
	width: 100%;
}
.compare_box table {
	width: 900px;
}
.row_title {
	width: 200px;
}
blockquote {
	font-size: 18px;
	line-height: 32px;
}
blockquote p {
	line-height: 32px;
}
.author_img img {
	max-width: 80px;
}
.comment_user img {
	max-width: 70px;
}
.scroll_down_icon.scroll_link {
	right: -17px;
}
.heading_s2 .sub_heading {
	font-size: 50px;
	line-height: 50px;
	margin-bottom: -15px;
}
.overlap_counter_bottom::before {
	height: 50px;
}
.nav-tabs li.nav-item a {
	padding: 5px 15px;
	font-size: 14px;
}
.header_with_topbar.transparent_header + .banner_section .banner_slide_content {
	margin-top: 70px;
}
.nav_style7.owl-theme .owl-nav .owl-prev {
	left: 0px;
}
.nav_style7.owl-theme .owl-nav .owl-next {
	right: 0px;
}
footer .widget_title {
	margin-top: 0px;
}
.testimonial_wrp .testimonial_desc {
	margin-top: 10px;
}
.contact_form {
	max-width: 100%;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 30px;
	float: none;
}
.contact_box {
	padding: 0;
}
.contact_box .map {
	position: relative;
}
.contact_box .map iframe {
	height: 400px;
}

.section.pb_40, .pb_40 {
	padding-bottom: 20px;
}

.tco__files {
	grid-gap: 0px;
	gap: 0;
	padding: 0;
}
.tco__files .item {
	grid-gap: 10px;
	gap: 10px;
	max-width: 50%;
	padding: 15px;
}

.breadcrumb_section.banner_section.slide_medium {
	height: auto;
}
.breadcrumb_section .play_icon {
	margin-top: 20px;
}
.tco__partners-wrapper.justify-content-start h2 {
	margin-top: 0;
	margin-bottom: 0;
}
.double_banner_section .carousel_slider , 
.double_banner_section2 .carousel_slider  {
	height:auto !important;
}
.double-block {
	flex-direction: column-reverse;
	position: relative;
}
.reverse .double-block {
	-ms-flex-direction: column-reverse !important;
	flex-direction: column-reverse !important;
}
.tco__partners-wrapper, .reverse .tco__partners-wrapper {
	min-width: 100%;
	max-width: 100%;
}
.tco__partners-wrapper {
	min-width: inherit;
	max-width: inherit;
	padding: 15px;
}
.tco__partners-wrapper h2 {
	margin-bottom: 0;
}
.double-block div {
	width: 100%;
}
.double-block > img {
	height: 280px !important;
	-o-object-fit: cover;
	object-fit: cover;
}
.double-block > img {
	width: 100% !important;
	-o-object-fit: cover;
	object-fit: cover;
}
.nav_style8.owl-theme .owl-nav,
.reverse .nav_style8.owl-theme .owl-nav {
	left: 15px;
	position: absolute;
	top: 220px;
	bottom: auto;
}
.nav_style8.owl-theme .owl-nav [class*="owl-"] {
	color: #000;
	background: #dbdbdb;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	width: 30px;
}
.nav_style8.owl-theme .owl-nav [class*="owl-"]:hover {
	background-color: #fff;
}
.double_banner_section .owl-dots {
  left: 15px;
}
.tco__partners-wrapper h3 {
	margin-top:0;
}


.timeline__nav ul li {
  font-size: 25px;
}
.timeline__nav ul li.small {
	font-size: 14px;
	line-height: 1.5;
}
.tco__yearcircle {
	display:none;
}

.timeline__nav.fixed {
	position: fixed;
	top: 94px;
	right: 0;
	width: auto;
	background: #fff;
}
.timeline__nav ul {
	display: flex;
	overflow:hidden;
}
.timeline__nav ul li {
	font-size: 3.6vh;
	display: inline-block;
	margin: 0 65px;
	height: auto;
}
.timeline__nav ul li.small {
	font-size: 3.4vh;
	line-height: 1.5;
}


.slide_section {
	margin-bottom: 15px;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.slide_section .slide_content {
	min-width: 100%;
	padding: 15px !important;
}
.slide_section .slide_img img {
	position:relative;
}
.slide_section.reverse {
	-ms-flex-direction: column-reverse !important;
	flex-direction: column-reverse !important;
}

.slide_section .nav_style8.owl-theme .owl-nav {
	margin-top: 0;
}
.slide_section .slide_content .heading_s1.pb_40 {
	padding-bottom: 0;
}

.right_popup .white_popup .side_popup_content {
	padding: 40px 50px 40px 50px;
}
.right_popup .white_popup {
	width: 80%;
}
.right_popup .side_popup_content .side_popup_name h2 {
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.right_popup .side_popup_content .side_popup_name h3 {
	font-size: 28px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.slide_section .nav_style8.owl-theme .owl-nav {
	position: static;
}

.debt_rating_list ul {
	margin-bottom: 20px;
}

.slide_section .tab-content.text-right {
	text-align: center !important;
	position: static;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.contact_list2 span {
  font-size: 16px;
}

.career_box.reverse {
	flex-direction: column !important;
	justify-content: flex-start !important;
}
.statistic {
	margin-top: 0;
}
.statistic_box3 img {
	width: auto;
}
.map_overlay .blue, .map_overlay .yellow, .map_overlay .golub, .map_overlay .grey {
	width:20px;
}
.map_overlay .blue {
	top: 40%;
	left: 22%;
}
.map_overlay .yellow {
	top: 30.5%;
	left: 44%;
}
.map_overlay .grey {
	top: 49.5%;
	left: 74.5%;
}
.statistic p {
	font-size: 16px;
}

}

/* -------------------------------------------------
  max-width: 640px
---------------------------------------------------*/
@media only screen and (max-width: 640px) {
.user_img {
	display: none;
}
.carousel-indicators.vertical_center_right {
	right: 0;
	left: 0;
	display: -ms-flexbox;
	display: flex;
	top: auto;
	bottom: 0;
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}
.indicators_style2.vertical_center_right li {
	margin: 15px 7px;
}
.scroll_down_icon.scroll_link {
	display: none;
}
.flex_title {
	margin-bottom: 15px;
}
.slide_section .slide_content p, .right_popup .side_popup_content .side_popup_description p {
	font-size: 16px;
}

.heading_s1 h1, .heading_s1 h2.h1 {
	font-size: 26px;
}
.heading_s1 h2, .flex_title h2, .tco__partners-wrapper h2{
	font-size: 22px;
	line-height: normal;
}
.right_popup .side_popup_content .side_popup_header .side_popup_number,
.right_popup .side_popup_content .side_popup_name h2 {
	font-size:24px;
}
.right_popup .side_popup_content .side_popup_name h3 {
	font-size: 22px;
}
.heading_s1 h5 {
	font-size: 16px;
}
.large_text p, .large_text a, .large_text .custom-control, .large_text .custom-control label {
	font-size: 16px;
}
.large_text li,
.slide_section .slide_content ul li {
	font-size: 16px;
}
.accordion.accordion_style1 .card-header a {
	font-size:16px;
}
.btn-link {
	font-size: 16px;
}
.btn-link i {
	font-size: 20px;
}
.file_group .pdf-link {
	font-size: 16px;
}
.card_box .card_number h3,
.card_box .card_title h4 {
	font-size: 18px;
}
.slide_section li.nav-item a {
	font-size: 18px;
}
.slide_section .tab-content {
	position: static;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	text-align: center !important;
}

.list_style1 li {
	margin-bottom: 10px;	
}
.report_card_box_wrap .report_card .report_card_text h3 {
	font-size: 18px;
}
.report_section .card_box .card_content p {
	font-size: 16px;
}
.tco_icon_box .tco_icon_text h4 {
	font-size: 18px;
}
.tco_icon_box .tco_icon_text h3 {
	font-size: 18px;
}
.tco_icon_box .tco_icon_text p {
	font-size: 16px;
}
.timeline__nav ul li {
	font-size:20px;
}
.timeline__section h3 {
	font-size: 18px;
}

footer p,
.widget_links li a {
	font-size: 16px;
}

.leads {
	margin-bottom: 15px;
}
.about_box_wrap {
	height: 360px;
}
.slick-list {
	padding-left: 10% !important;
	padding-right: 10% !important;
}
}
/* -------------------------------------------------
  max-width: 580px
---------------------------------------------------*/
@media only screen and (max-width: 580px) {
	.about_box {
		bottom: 0;
		left: 20px;
		right: 20px;
	}
	.about_box p {
		height: 80px;
		overflow: hidden;
	}
}

/* -------------------------------------------------
  max-width: 576px
---------------------------------------------------*/
@media only screen and (min-width: 576px) {
	
	
}

/* -------------------------------------------------
  max-width: 575px
---------------------------------------------------*/
@media only screen and (max-width: 575px) {
.heading_s1 h1, .heading_s1 h2.h1 {
	font-size: 24px;
}	
.tco__partners-wrapper h1 {
	font-size: 24px;
}
.tco__partners-wrapper h3 {
  font-size: 24px;
}
.tco_icon_box .tco_icon_text h4 {
  font-size: 18px;
}
.tco_icon_box .tco_icon_text h3 {
	font-size: 18px;
}
.section.pt_40, .pt_40 {
	padding-top: 20px;
}
.section.pt_40, .pt_40 {
	padding-top: 20px;
}
.header_wrap .navbar-collapse {
	left: -15px;
	right: -15px;
}
.btn {
	padding: 10px 28px;
	font-size: 14px;
}
.btn + .btn {
	margin-left: 5px;
}
.btn-group-lg > .btn, .btn-lg {
	padding: 14px 38px;
	font-size: 18px;
}
.btn.btn-lg i {
	font-size: 20px;
}
.btn-group-sm > .btn, .btn-sm {
	padding: 6px 18px;
}
.btn-xs {
	padding: 2px 14px;
	font-size: 12px;
}
p {
	margin-bottom: 15px;
}
.section.pb_70, .pb_70 {
	padding-bottom: 15px;
}
.section,.newsletter_small {
	padding: 30px 0;
}
.section.small_pt, .top_footer.small_pt {
	padding-top: 15px;
}
.section.small_pb, .top_footer.small_pb {
	padding-bottom: 15px;
}
.large_divider {
	height: 30px;
}
.medium_divider {
	height: 15px;
}
.small_divider {
	height: 5px;
}
.section.pb_85, .pb_85 {
	padding-bottom: 15px;
}
.breadcrumb_section {
	padding: 50px 0;
}
.breadcrumb_section.page-title-mini {
	padding: 30px 0;
}
.footer_top {
	padding: 30px 0 15px;
}
.navbar .attr-nav li.nav-btn {
	margin-top: 10px;
}
.heading_s1 {
	margin-bottom: 15px;
}
.banner_content h2 {
	font-size: 28px;
}
.banner_content1 h2 {
	font-size: 34px;
}
.banner_content p {
	margin-bottom: 32px;
}
.banner_half_content {
	padding: 100px 0 30px;
}
div.banner_large_pad {
	padding: 200px 0 80px;
}
.leads {
	margin-bottom: 20px;
}
.icon_box_style1 .icon {
	height: 80px;
	width: 80px;
}
.icon_box_style1 .icon i {
	line-height: 80px;
	font-size: 28px;
}
.grid_filter {
	margin-bottom: 25px;
}
.gutter_medium > li .portfolio_item, 
.gutter_medium > li .image_gallery_item {
	margin-bottom: 15px;
}
.icon_box,
.blog_post,
.pricing_box,
.team_box,
.resume_list li,
.contact_style1,
.product,
.portfolio_single_img img:not(:last-child),
.contact_style2,
.contact_style3 {
	margin-bottom: 15px;
}
.pr_title {
	padding: 20px 15px 20px;
}
.pr_footer {
	padding: 15px 20px 20px;
}
.newsletter_form input, .newsletter_form input:focus {
	height: 53px;
}
footer .widget_title {
	margin-top: 0px;
	margin-bottom: 20px;
}
footer .widget {
	margin-bottom: 20px;
}
.widget_contact_form {
	padding: 20px;
	margin-top: 10px;
}
.icon_box_style3:hover {
	-moz-transform: translate3d(0,0px, 0);
	-webkit-transform: translate3d(0,0px, 0);
	transform: translate3d(0,0px, 0);
}
.newsletter_box {
	padding: 30px;
}
.waveWrapper {
	height: 15px;
}
.waveTop {
	background-size: 50% 15px;
}
.map iframe {
	height: 300px;
}
footer .background_shape, footer .background_shape::before {
	width: 120px;
}
footer .background_shape {
	-moz-transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
	transform: skewX(20deg);
}
.error_txt {
	font-size: 36px;
}
.cs_title {
	line-height: 35px;
}
.cs_wrap .shape27 {
	max-width: 42px;
}
.cs_wrap .shape15 {
	max-width: 10px;
}
.cs_wrap .shape30 {
	bottom: 25%;
	right: 100px;
	max-width: 20px;
}
.cs_wrap .shape44 {
	max-width: 15px;
}
.cs_wrap .shape28 {
	right: 150px;
	max-width: 22px;
}
.sidebar .widget + .widget {
	margin-top: 20px;
	padding-top: 20px;
}
.widget_title {
	margin-bottom: 20px;
}
.tab-style1 .nav-tabs li.nav-item a {
	padding: 10px 20px;
}
.tab-style1 .nav-tabs .nav-item {
	margin-right: 10px;
}
.tab-content.shop_info_tab {
	margin-top: 20px;
}
.circular_bar {
	margin-top: 15px;
}
.blog_thumbs .blog_post {
	padding-bottom: 15px;
}
.blockquote_style1 {
	margin: 20px 0;
}
blockquote {
	font-size: 16px;
	line-height: 28px;
}
blockquote p {
	line-height: 28px;
}
.blockquote_style4 {
	padding: 15px;
	font-size: 16px;
}
.blog_post_footer {
	padding-bottom: 20px;
	padding-top: 5px;
}
.post_author {
	margin-top: 30px;
	margin-bottom: 30px;
}
.comment-area .comment_list {
	margin-bottom: 30px;
}
.content_title * {
	margin-bottom: 20px;
}
.banner_content_border {
	padding: 20px;
}
.heading_s2 .sub_heading {
	font-size: 44px;
	line-height: 44px;
}
.contact_style3 {
	padding: 20px;
}
.contact_style3 .contact_icon {
	height: 70px;
	width: 70px;
}
.contact_style3 .contact_icon i {
	line-height: 68px;
}
.newsletter_form .btn {
	padding: 8px 24px;
}
.instagram_icon i {
	font-size: 30px;
}
.about_double_img2 {
	padding-bottom: 50px;
}
.testimonial_wrp {
	padding: 20px;
}
.contact_form {
	padding: 20px;
}

.right_popup .white_popup {
	width: 90%;
}
.right_popup .white_popup .side_popup_content {
	padding: 20px;
}

.debt_rating_list ul {
	margin-bottom: 20px;
}
.debt_rating_list ul li {
	font-size: 16px;
	margin-bottom: 6px;
}


}

/* -------------------------------------------------
  max-width: 480px
---------------------------------------------------*/
@media only screen and (max-width: 480px) {
body {
	font-size: 14px;
}
.slide_section .slide_content p, .right_popup .side_popup_content .side_popup_description p {
	font-size: 16px;
}
p {
	line-height: 24px;
}
.heading_s1 h1, .heading_s1 h2, .heading_s1 h3, .heading_s1 h4, .heading_s1 h5, .heading_s1 h6, .heading_s1 h2.h1 {
	line-height: normal;
}
.h1, h1 {
    font-size: 24px;
}
.h2, h2 {
    font-size: 22px;
}
.h3, h3 {
    font-size: 20px;
}
.h4, h4 {
    font-size: 18px;
}
.h5, h5 {
    font-size: 16px;
}
.h6, h6 {
    font-size: 14px;
}
p {
	margin-bottom: 15px;
}
.sidebar_menu {
	padding: 30px 20px 20px;
	width: 320px;
	right: -320px;
}
.sidebar_left .sidebar_menu,
.sidebar_left_push .sidebar_menu {
	left: -320px;
}
.sidebar_left_push.sidetoggle_active {
	left: 320px;
}
.sidebar_left_push.sidetoggle_active .header_wrap.nav-fixed {
	left: 320px;
	right: -320px;
}
.sidebar_right_push.sidetoggle_active {
	right: 320px;
}
.navbar .attr-nav li .nav-link i[class*="linearicons-"],
.navbar .navbar-nav.attr-nav li .nav-link.search_trigger [class*="linearicons-"], .navbar .navbar-nav.attr-nav li .nav-link.cart_trigger [class*="linearicons-"] {
	font-size: 18px;
}
.banner_content h2 {
	font-size: 22px;
}
.banner_content1 h2 {
	font-size: 30px;
}
.banner_content p {
	margin-bottom: 25px;
}
.carousel-control-next, .carousel-control-prev {
	font-size: 16px;
	height: 38px;
	width: 38px;
}
.carousel-control-prev {
	left: 0;
}
.carousel-control-next {
	right: 0px;
}
.carousel_style1 .carousel-control-next {
	right: 10px;
}
.carousel_style1 .carousel-control-prev {
    left: 10px;
}
.heading_s1,
.heading_s2,
.heading_s3,
.heading_s4,
footer .widget_title,
.leads {
	margin-bottom: 15px;
}
.heading_icon {
	margin-bottom: -10px;
}
.highlight_text {
	font-size: 16px;
}
.box_counter p {
	font-size: 14px;
}
.grid_col2 > li,
.grid_col4 > li,
.grid_col3 > li,
.grid_col3 > li.big_size {
	width: 100%;
}
.grid_filter li a {
	padding: 5px 10px;
}
.grid_filter.filter_style1 li a {
	padding: 5px 15px;
}
.testimonial_style1 .testimonial_box {
	padding: 20px;
}
.blog_title {
	margin-bottom: 10px;
}
.ripple {
	margin-right: 20px;
	margin-left: -10px;
}
.ripple::before, .ripple::after {
	margin: -15px;
}
.first_img,
.second_img {
	max-width: 300px;
}
.profile_info > li {
	margin-bottom: 15px;
}
.count_pr {
	font-size: 14px;
}
.contact_icon {
	margin-right: 15px;
}
.contact_icon i {
	font-size: 30px;
}
.divider i {
	font-size: 26px;
	padding: 0 25px;
}
.page-title-mini .page-title h1 {
	font-size: 24px;
}
.list_style1 li::before {
	top: 5px;
}
.cart_extra {
	display: block;
}
.tab-style1 .nav-tabs::before {
	content: normal;
}
.tab-style1 .nav-tabs {
	display: block;
}
.tab-style1 .nav-tabs .nav-item {
	margin-right: 0;
	margin-bottom: 5px;
}
#Additional-info table td:first-child {
	width: auto;
}
.empty_icon {
	height: 70px;
	width: 70px;
	line-height: 70px;
	margin-bottom: 15px;
}
.empty_icon img {
	max-width: 35px;
}
.single_post .blog_title {
	font-size: 20px;
	margin-bottom: 15px;
}
.post_author .author_img {
	float: none;
	padding-right: 0;
	margin: 0 auto;
	display: table;
}
.author_info {
	text-align: center;
	margin-top: 15px;
}
.comment_user img {
	max-width: 60px;
}
.comment_content {
	padding-left: 15px;
}
.children {
	margin-left: 20px;
}
.icon_box_style5 .icon i {
	font-size: 40px;
	line-height: 50px;
}
.heading_s2 .sub_heading {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: -5px;
}
.icon_box_style6 {
	padding: 20px 15px;
}
.icon_box_style6 .icon i {
	font-size: 40px;
}
.counter_style1.box_counter {
	padding-left: 0;
	text-align: center;
}
.counter_style1.box_counter i {
	position: static;
}
.process_step_content {
	margin-top: 20px;
}
.counter_style2 i {
	width: 70px;
	height: 70px;
	line-height: 70px;
}
.box_counter.counter_style2 {
	padding: 10px;
}
.box_counter.counter_style2 i {
	font-size: 34px;
	margin-bottom: 10px;
}
.box_counter.counter_style2 p {
	font-size: 13px;
}
.contact_style2 {
	padding: 20px;
}
.contact_style2 .contact_icon {
	height: 70px;
	width: 70px;
}
.contact_style2 .contact_icon i {
	line-height: 70px;
	font-size: 26px;
}
.tab-style2 .nav-tabs li.nav-item {
	width: 100%;
}
.tab-style3 .nav-tabs li.nav-item a {
	padding: 5px 8px;
}
.tab-style3 .tab-content.shop_info_tab {
	margin-top: 15px;
}
.pr_list li {
	padding: 10px 0;
}
.pr_icon {
	width: 80px;
	height: 80px;
}
.pr_icon i {
	font-size: 40px;
	line-height: 80px;
}
.price_tage {
	padding-top: 5px;
}
.about_double_img2 .first_img {
	max-width: 80%;
}
.about_double_img2 .second_img {
	max-width: 60%;
}
.accordion_style4 .card-header a {
	padding: 15px 15px 15px 40px;
	font-size: 14px;
}
.accordion_style4 .card-header a::after {
	left: 12px;
	top: 17px;
}
.item_meta.duration {
	padding: 4px 7px;
	right: 10px;
	font-size: 12px;
}
.contact_box .map iframe {
	height: 300px;
}

.timeline__nav ul li {
	margin: 0;
	max-width: 192px;
	flex: 0 0 192px;
	text-align: left;
}

}

/* -------------------------------------------------
  max-width: 440px
---------------------------------------------------*/
@media only screen and (max-width: 440px) {
	.ddcommon .ddChild {
		left: auto;
		padding: 0px;
		width: auto;
	}
	.ddcommon .ddChild li {
		width: 100%;
		float: none;
	}	
	.ddcommon .ddChild li {
		padding: 6px 10px;
	}
}

/* -------------------------------------------------
  max-width: 380px
---------------------------------------------------*/
@media only screen and (max-width: 380px) {
.btn {
	padding: 8px 24px;
}
.btn-group-lg > .btn, .btn-lg {
	padding: 12px 34px;
	font-size: 16px;
}
.btn.btn-lg i {
	font-size: 18px;
}
.btn-group-sm > .btn, .btn-sm {
	padding: 4px 16px;
}
.btn-xs {
	padding: 2px 14px;
	font-size: 12px;
}
.sidebar_menu {
	padding: 30px 15px 15px;
	width: 290px;
	right: -290px;
}
.sidebar_left .sidebar_menu,
.sidebar_left_push .sidebar_menu {
	left: -290px;
}
.sidebar_left_push.sidetoggle_active {
	left: 290px;
}
.sidebar_left_push.sidetoggle_active .header_wrap.nav-fixed {
	left: 290px;
	right: -290px;
}
.sidebar_right_push.sidetoggle_active {
	right: 290px;
}
.fb_style1::before {
	width: 220px;
}
.banner_content h2 {
	margin-bottom: 15px;
}
.banner_content p {
	margin-bottom: 20px;
}
.first_img,
.second_img {
	max-width: 230px;
}
.ripple {
	line-height: 32px;
	height: 32px;
	width: 32px;
}
.ripple i {
	font-size: 14px;
}
.header_wrap.transparent_header.header_with_topbar + .breadcrumb_section {
	padding-top: 220px;
}
.form-control {
	height: 40px;
	font-size: 14px;
}
.form-control:focus, .custom-file-input:focus ~ .custom-file-label,.custom_select select {
	height: 40px;
}
.input_icon,.rounded_input .input_icon {
	top: 10px;
}
.custom-file-label, .custom-file, .custom-file-input {
	height: 40px;
	line-height: 28px;
}
.custom-file-label::after {
	height: 38px;
	line-height: 30px;
}
.error_txt {
	font-size: 26px;
	margin-bottom: 10px;
}
.btn-login li a {
	padding: 8px 16px;
}
.login_footer a {
	font-size: 13px;
}
.countdown_box .countdown {
	font-size: 26px;
}
.cs_title {
	line-height: 28px;
	font-size: 16px;
}
.shop_container.list .pr_action_btn li.add-to-cart a {
	padding: 10px 20px;
	font-size: 14px;
}
.order_complete i {
	font-size: 50px;
}
.comment_user img {
	max-width: 50px;
}
.heading_s2 .sub_heading {
	font-size: 30px;
	line-height: 30px;
}
.contact_detail > li, .header_list > li {
	padding: 2px 10px 2px 0;
}
.navbar-nav .dropdown-menu.cart_box.show {
	right: -50px;
	width: 310px;
}
.countdown_style2 .countdown_box .countdown-wrap {
	padding: 5px;
}
.countdown_style2.countdown_time .cd_text {
	font-size: 12px;
}
.post_content {
	margin-top: 0;
}
.instagram_icon i {
	font-size: 20px;
}

}

